<nav>
    <div class="class-title">
        <a href="/"><h1>Dev Blog</h1></a>
    </div>

    <div class="class-sub">
        <p><span class="developers">Developers</span> Hub Spot</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Blog</a></li>
        </ul>
    </div>
</nav>