<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <!-- For the nav.ejs -->
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <div class="inner-about">
            <h2>About <span class="developers">Developers</span> Hub &#8628; </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima corrupti nisi exercitationem cum quasi quod suscipit, consequatur eligendi voluptatum voluptatibus doloremque non expedita earum tenetur corporis repellat architecto libero aperiam odit ea numquam. Suscipit optio placeat vero dolorum reprehenderit ducimus architecto molestias dolor et. Ea necessitatibus repellendus id assumenda iste. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut veritatis alias nesciunt esse impedit ex, nobis sapiente a adipisci autem soluta similique praesentium assumenda itaque rem voluptate explicabo porro cupiditate deleniti tempora debitis doloribus animi vero officiis. Neque voluptas mollitia consequatur similique delectus tempore, minima ipsum quisquam fugit nemo necessitatibus?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam id similique minima quod tempora commodi, excepturi aperiam eaque earum, illo quaerat eligendi ullam nostrum voluptate?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, adipisci?</p>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>